/* // **************** todolist ********************* */
.main-todo-maker-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 100vh ;
    color: #adbbb8;
  
  }


  .todo-maker-container {
    margin-top: 3rem;
    margin-left: 4vw;
    margin-right: 4vw;
    width: 30rem;
    display: flex;
    flex-direction: column;
 
  }
  
  .todo-display{
    width: 30rem;
    margin: 3rem 1vw;
   
  }

  .to-do-list{
    overflow-y: auto;
    overscroll-behavior-y: auto;
    max-height: 56vh;
  }
  .calendar-todo-wrapper {
    width: 20rem;
    margin-left: 4vw;
    margin-right: .5rem;
    margin-top: 5rem;
  }

.todolist-form-container {
  font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

  .input-form-todo{
    font-size: 1rem;
    height: 2rem !important;
    outline: none;
    border-radius: .15rem;
    border: 2px solid #5c5c5b !important;
    margin-bottom: .5rem;
    width: 100%;
  }
  
  .input-form-todo-textarea{
    font-size: 1rem;
    height: 20rem !important;
    outline: none;
    border-radius: .15rem;
    border: 2px solid #5c5c5b !important;
    margin-bottom: .5rem;
    width: 100%;
  }

 .todo-header-container{
  color: #adbbb8;
  text-align: center;
 }

 .cursor-pointer {
   cursor: pointer;
 }

 .hour-task {
   color: #161616;
 }

 .btn-todo{
  border: none;
  border-radius: .18rem;
  background-color: $secondary-color;
  color: $text-primary;
  font-size: 1rem;
  padding: .4rem;
  @include transition-ease;
}

.btn-todo:hover{
  border: none;
  border-radius: .18rem;
  background-color: $highlight-color;
  color: black;
  font-size: 1rem;
  padding: .4rem;
  @include transition-ease;
}

.line-through {
  text-decoration: line-through;
  font-weight: 800;
  box-shadow: inset 0px 0px 3px 3px #16161675 !important;
}

